@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1620796575919') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-39:before {
  content: "\e629";
}

.icon-daipingjia01:before {
  content: "\e627";
}

.icon-xiazai6:before {
  content: "\e606";
}

.icon-jiantou-copy-copy-copy:before {
  content: "\e669";
}

.icon-dizhi:before {
  content: "\e607";
}

.icon-fenlei:before {
  content: "\e659";
}

.icon-daishouhuo:before {
  content: "\e622";
}

.icon-jiantou:before {
  content: "\e603";
}

.icon-home:before {
  content: "\e639";
}

.icon-dingdanliebiao:before {
  content: "\e668";
}

.icon-dingdan:before {
  content: "\e618";
}

.icon-gengduo:before {
  content: "\eb30";
}

.icon-card:before {
  content: "\e54c";
}

.icon-wode:before {
  content: "\e60b";
}

.icon-daifahuo:before {
  content: "\e604";
}

.icon-shouye:before {
  content: "\e628";
}

.icon-jiantoudown:before {
  content: "\e51a";
}

.icon-sousuo:before {
  content: "\e647";
}

.icon-3:before {
  content: "\e619";
}

.icon-2:before {
  content: "\e623";
}

.icon-wode1:before {
  content: "\e8bb";
}

.icon-biaoqianA01_shouye-266:before {
  content: "\ea85";
}

